.pill-button {
    background-color: #ddd;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  }
  .pill-button:hover{
      text-decoration: none;
      border: none;
  }
  
  .pill-button img {
    width: 32px;
    height: 32px;
  }
  .box-model{
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 2%;
   border-radius: 5px;
    border: 1px solid rgb(143, 139, 139);
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 80px;
    padding-bottom: 80px;

  }
  .img{
    margin-right: 50%;
    margin-left: 40%;
    margin-top: 5%;
      width: 20%;
  }